.red-color {
  color: orangered;
}

#border-red {
  border: 1px solid orangered;
}

#right-border-line {
  border-right: 1px solid rgb(128, 128, 128);
  height: auto;
}

#white-color {
  color: white;
}

.young-serif {
  font-family: 'Young Serif', serif;
}

.nav-link {
  --bs-nav-link-color: black;
}

#no-caret.dropdown-toggle::after {
  display: none !important;
}
